@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    font-family: 'Nunito' , sans-serif;
}
@font-face {
  font-family: "Pokemon";
  src: url(./fonts/Pokemon\ Classic.ttf);
}

body{
    background: rgb(169, 198, 208);
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./images/background1.jpeg);
    background-size: cover; 
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin:auto;
    padding: auto;
    overflow: hidden;
}

.mainContainerIndex {
    width: 100%;
    height: fit-content;
    display: inline-block;
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  

h2, .selectPet{
    width: 100%;
    color: rgb(36, 26, 64);
    font-size: 3.5vw;
    font-weight: unset;
    text-align: center;
    display: block;
    letter-spacing: 3px;
}

.selectPet {
    font-size: 20px;
}


.text{
    transform: scale(0.66);
}

button {
    all:unset;
    max-width: 50%;
    max-height: 50%;
    width: 25%;
    height: 25%;
    margin: 4%;
    margin-top: 10%;
    border: none;
    padding:0; 
    border-radius: 70%;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

.pics {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    position: center;
    border-radius: 50%;
    border: 5px solid   rgb(215, 221, 98);
}

.pics1:hover {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 20px 20px 50px rgb(243, 103, 103);
}

.pics2:hover {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 20px 20px 50px skyblue;
}

.pics3:hover {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 20px 20px 50px green;
}

#gameTitle {
    color: yellow;
}

#charImage {
    width: 40%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 5px solid red;
}

#squirtleImage {
    width: 40%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 5px solid skyblue;
}

#message{
    width: 100%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px #000000;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Pokemon";
    text-align: center;
    display: block;
    letter-spacing: 3px;
    user-select: none;
}

#restart {
    all:unset;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: none;
    color: rgb(51, 93, 109);
    font-size: 1.5vw;
    font-weight: bold;
    font-family: '' , sans-serif;
    text-align: center;
    display: block;
    letter-spacing: 3px;
}

#restart:hover {
    
    transform: scale(1.1);
    background-color: rgb(255, 255, 255, 0.9);
    cursor: pointer;

}

    #feedBtnChar, #sleepBtnChar, #battleBtnChar, #trainBtnChar {
        all: unset;
        color: rgb(0, 0, 0);
        background-color: rgb(224, 57, 57);
        font-size: 35px;
        font-family: "Pokemon";
        text-align: center;
        letter-spacing: 2px;
        border: 3px solid rgb(22, 22, 22);
        border-radius: 50px;
        margin: 2px 5px;
        cursor: pointer;
        user-select: none;
        
    }

    #feedBtnSquirtle, #sleepBtnSquirtle, #battleBtnSquirtle, #trainBtnSquirtle {
        all: unset;
        color: rgb(0, 0, 0);
        background-color: rgb(95, 179, 212);
        font-size: 35px;
        font-family: "Pokemon";
        text-align: center;
        letter-spacing: 2px;
        border: 3px solid rgb(22, 22, 22);
        border-radius: 50px;
        margin: 2px 5px;
        width: 100%;
        cursor: pointer;
        user-select: none;
    }

    #feedBtnBulb, #sleepBtnBulb, #battleBtnBulb, #trainBtnBulb {

        all: unset;
        color: rgb(0, 0, 0);
        background-color: rgb(154, 245, 154);
        font-size: 35px;
        font-family: "Pokemon";
        text-align: center;
        letter-spacing: 2px;
        border: 3px solid rgb(22, 22, 22); 
        border-radius: 50px;
        margin: 2px 5px;
        width: 100%;
        cursor: pointer;
        user-select: none;
        
}    

#feedBtnChar:active, #sleepBtnChar:active, #battleBtnChar:active, #trainBtnChar:active {
  box-shadow: inset 0px 0px 45px #a8a6a6;
  outline: none;
}
#feedBtnSquirtle:active, #sleepBtnSquirtle:active, #battleBtnSquirtle:active, #trainBtnSquirtle:active{
  box-shadow: inset 0px 0px 45px #ffffff;
  outline: none;
}
#feedBtnBulb:active, #sleepBtnBulb:active, #battleBtnBulb:active, #trainBtnBulb:active {
  box-shadow: inset 0px 0px 45px #ffffff;
  outline: none;
}

#bulbImage {
    border-radius: 10%;
    box-shadow: 10px 10px 25px rgba(208,169,197,1);
    border: 5px solid green
}

.show-gif {
    display: block;
    animation: hide-gif 3s forwards;
  }
  
  @keyframes hide-gif {
    0% {
      display: block;
    }
    100% {
      display: none;
    }
}

/* CSS BARS */


/* Charmander bars style */

.statBar {
  position: relative;
  width: 600px;
  height: 40px;
  background-color: #555;
  border-radius: 25px;
  padding: 10px;
  margin: 10px 10px;
  overflow: hidden;
}
  
.barFill {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(224, 98, 48);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
  inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.barFill > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

/* Squirtle bars style */

.barFillSqtl {
    display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(48, 139, 224);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;

}

.barFillSqtl > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

/* Bulbasaur bars style */

.barFillBulb {
    display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(63, 141, 39);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.barFillBulb > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}


/*  CENTER IMAGE AND PUT BARS AND BUTTONS SIDE TO SIDE */


.pokeAvatar {
  margin: auto;
  width: fit-content;
}

#pokeStats {
  display: flex;
  margin-block-start: 80px;
  justify-content: center;
}

#pokeStatsChar {
  display: flex;
  justify-content: center;
}

#bulbBtn {
  display: flex !important;
  flex-direction: column;
  margin-top: 5px;
}

#squirtleBtn {
  display: flex !important;
  flex-direction: column;
  margin-top: 5px;
}

#charBtn {
  display: flex !important;
  flex-direction: column;
  margin-top: 5px;
}

#feedBtnChar:active, #sleepBtnChar:active, #battleBtnChar:active, #trainBtnChar:active {
  box-shadow: inset 0px 0px 45px #a8a6a6;
  outline: none;
}

